#header
 {
 	background-color: #ffc107;
 	padding:5px;
 	border-radius: 5px;
 }
 body
 {
 	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("pics/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
 }
 #header h1
 {
 	text-align: center;
 	font-size: xx-large;
 }

 img
 {
 	width:60px; 
 	height:50px;
 	float: left;
 }
 input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ffc107;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signup, #login{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 49%;
  float: left;
  box-sizing: border-box;
}

#login
{
	margin-left: 20px;
}
#signup h1,#login h1
{
	text-align: center;
}

#forms
{
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 72vh;
}

  .errmsg
  {
	color: red;
	font-size: small;
  }
 #footer
 {
 	background-color: #ffc107;
 	text-align: center;
 	padding:10px;
 	border-radius: 5px;
 }

 .unsuccessful
 {
 	color:red;
 	font-size: x-large;
 }
  .successful
 {
 	color:green;
 	font-size: x-large;
 }
 input[type=checkbox]
 {
 	width:15px;
 }